<style>
  table,
  th,
  td {
    border: 1px solid;
    border-collapse: collapse;
    width: 30%;
  }
</style>
<table>
  <th>todos</th>
  <% for(var i=0;i<allTodos.length;i++) {%>
    <tr>
      <td>
        <%= allTodos[i].title %>
      </td>
    </tr>
    <% } %>
</table>
